0620_IGCSE_Chemistry/
5070_O-Level_Chemistry/
0625_IGCSE_Physics/
5054_O-Level_Physics/
0580_IGCSE_Mathematics/
4024_O-Level_Mathematics/
0606_IGCSE_Additional_Mathematics/
4037_O-Level_Additional_Mathematics/
*_IGCSE_*/
*_O-Level_*/
*.zip
__pycache__/
